<div data-aos="zoom-in" data-aos-duration="800" class= "xl:mx-2 bg-red-900/75 mb-6 flex flex-col text-white text-sm items-center rounded-lg">
    <i class="fa-solid fa-user-secret fa-3x m-2"></i>
    <h1 class="mx-2"> AGENT N° {{ agent.code|upper }} </h1>
    <p class="text-black bg-gray-50 my-4 py-2 px-5 text-center align-middle flex flex-col items-center rounded-lg w-5/6">
        <span class="mb-1" >{{ agent.firstname|upper }} {{ agent.lastname|upper }}</span>
        <span class="mb-1">{{ agent.birthdate|date("d/m/Y") }}</span>
        <img class="z-20 border rounded-full w-16 h-16 border-white right-2 top-2" src="{{ vich_uploader_asset(agent, 'avatarFile') }}"  alt="agent avatar {{ agent.code }}">

    </p>
    <p class="text-black bg-gray-50 m-4 py-2 px-5 text-center  flex justify-center items-center rounded-lg w-5/6">
        <span>{{ agent.country.name|upper }}</span>
        <img class="w-10 h-6 z-20 border border-white right-2 top-1 ml-4" src="{{ vich_uploader_asset(agent.country, 'flagFile') }}"  alt="country flag {{ agent.country.name }}">
    </p>
    <div class="text-black bg-gray-50 m-4 py-2 px-5 align-middle text-justify flex justify-center  rounded-lg w-5/6">
        <div class=" w-2/4 flex flex-col items-center">
            {% for skill in agent.agentskills %}
                <span class="block">{{ skill.name|upper }}</span>
            {% endfor %}
        </div>
    </div>
</div>