<div data-aos="zoom-in" data-aos-duration="800" class= "xl:mx-2 bg-green-900/75 mb-6 flex flex-col text-white text-sm items-center rounded-lg">
    <i class="fa-solid fa-address-book fa-3x m-2"></i>
    <h1 class="mx-2"> {{ contact.codename|upper }} </h1>
    <p class="text-black bg-gray-50 my-4 py-2 px-5 text-center align-middle flex flex-col items-center rounded-lg w-5/6">
        <span class="mb-1" >{{ contact.firstname|upper }} {{ contact.lastname|upper }}</span>
        <span class="mb-1">{{ contact.birthdate|date("d/m/Y") }}</span>
    </p>
    <p class="text-black bg-gray-50 m-4 py-2 px-5 text-center  flex justify-center items-center rounded-lg w-5/6">
        <span>{{ contact.country.name|upper }}</span>
        <img class="w-10 h-6 z-20 border border-white right-2 top-1 ml-4" src="{{ vich_uploader_asset(contact.country, 'flagFile') }}"  alt="country flag {{ contact.country.name }}">
    </p>
</div>