<div data-aos="zoom-in" data-aos-duration="800" class= " w-5/6 mt-6 md:w-3/5 bg-blue-900/75 flex flex-col text-white text-sm items-center rounded-lg">
        <h1 class="mt-2">{{ missionDetail.title|upper }}</h1>
        <p class="text-black bg-gray-50 my-4 py-2 px-5 text-center align-middle rounded-lg w-5/6">
             NOM DE CODE : {{ missionDetail.codeName|upper }}
        </p>
        <p class="text-black bg-gray-50 m-4 py-2 px-5 text-center flex justify-center items-center rounded-lg w-5/6">
                <span>{{ missionDetail.country.name|upper }}</span>
                <img class="w-10 h-6 z-20 border border-white right-2 top-1 ml-4" src="{{ vich_uploader_asset(missionDetail.country, 'flagFile') }}"  alt="country flag {{ missionDetail.country.name }}">
        </p>
        <div class="text-black bg-gray-50 m-4 py-2 px-5 align-middle text-justify flex justify-center  rounded-lg w-5/6">
                <div class=" w-2/4 ">
                        {{ missionDetail.description|upper|raw }}
                </div>
        </div>
        <p class="text-black bg-gray-50 m-4 py-2 px-5 text-center align-middle  rounded-lg w-5/6">
                {{ missionDetail.category|upper }}
        </p>
        <p class="text-black bg-gray-50 m-4 py-2 px-5 text-center align-middle  rounded-lg w-5/6">
                {{ missionDetail.status|upper }}
        </p>
        <p class="text-black bg-gray-50 m-4 py-2 px-5 text-center align-middle  rounded-lg w-5/6">
                DU {{ missionDetail.beginningDate|date("d/m/Y") }} AU {{ missionDetail.endingDate|date("d/m/Y") }}
        </p>
</div>